%centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #323232;
    
}

header {
    @extend %centrar;
    padding: 2em;
    h1 {
        color: #eee;
    }
}