header h1 {
  display: flex;
  justify-content: center;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #161616;
  color: #eee; }

header h1 {
  font-size: 40px;
  padding: 1em; }

.agregar {
  margin: auto;
  width: 60%;
  background-color: #646464;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em; }
  .agregar input, .agregar button {
    border-radius: 7px;
    padding: .5em;
    font-size: 20px; }
  .agregar button {
    font-size: 20px;
    border-radius: 7px;
    padding: .5em;
    cursor: pointer;
    background-color: crimson;
    color: #eee;
    border: none;
    transition: all .3s; }
    .agregar button:hover {
      transform: scale(1.1); }

.lista {
  margin: auto;
  width: 90%; }
  .lista .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    transition: all .3s;
    cursor: pointer;
    background-color: #646464;
    margin-bottom: 1em; }
    .lista .item:hover {
      background-color: #323232; }
    .lista .item p {
      font-size: 25px; }
    .lista .item button {
      font-size: 20px;
      border-radius: 7px;
      padding: .5em;
      cursor: pointer;
      background-color: crimson;
      color: #eee;
      border: none;
      transition: all .3s; }
      .lista .item button:hover {
        transform: scale(1.1); }
